:root {
    font-size: 16px;
    font-family: "Montserrat",serif;
    color: white;
}
body {
    margin: 0;
    padding: 0;
}
#main {
    background: url(images/bg_images//intro.png) no-repeat fixed center;
    background-size: cover;
    border: 1% solid #2c2c2c;
}
#header_section {
    margin-top: 0vh;
    height: 10vh;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: bold;
  justify-content: space-around;
  align-self: stretch;
  padding: 4vh 4vw 0vh 0vw;

}
.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
    }

.intro_section {
    display: flex;
      flex-wrap: wrap;
      font-family: "Montserrat", serif;
      font-size: 2rem;
      font-weight:bold;
      margin: 0 1vw 1vw 15vw;
      padding: 14vw;

  }
  .sub-heading {
      font-family: "Montserrat", serif;
      color: #ffffffb3!important;
      font-size: 1.5rem;
      margin-bottom: 1vh;
      font-weight:bold;
  }

#aboutme_section {
    background: url(images/bg_images//bg2.jpg) no-repeat fixed ;
    background-size: cover;
    border: 1px solid #2c2c2c;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.aboutme_description{
  display: flex;
  flex-wrap: wrap;
  font-family: "Montserrat", serif;
  color: black ;
  font-size: 1.3rem;
  margin: 9vh;
  font-weight:500;
  line-height: 1.5;
}
.my_image {
    height: 25%;
    width: 25%;
    padding-top: 5vw;
    border-radius: 5px;
}
#interests_section{
  background: url(images/bg_images//area_of_i.gif)  no-repeat fixed center;
  background-size:cover;
  padding-top: 50px;
  border: 1px solid #2c2c2c;

}

.description_heading{
  color: white;
  font-family: "Montserrat", serif;
  font-size: 3rem;
  font-weight:bold;
  text-align: center;
  margin: 3vh 2vw;
}
.interests_description {
  display: flex;
  flex-wrap: wrap;
  padding: 2vh 8vw 4vh;
  justify-content: space-between;
  padding: 15vh;
}
.interests_description_item{
  display: flex;
  flex-wrap: wrap;
  padding: 2vh 2vw;
  height: 150px;
  width: 150px;
}
#experience_section{
  background: url(images/bg_images//bg.jpg)  fixed center ;
  background-size: cover;
  padding-top: 10px;
  border: 1px solid #2c2c2c;
}

.experience_description {
  display: flex;
  flex-wrap: wrap;
  font-weight:bold;
  margin-top: 3vw;
  padding: 10vw;
  color: black;
  font-size: 1.6rem;
  }
#projects_section{
  background: url(images/bg_images//intro.png)  fixed center;
  background-size:cover;
  padding-top: 10px;
  border: 1px solid #2c2c2c;
}
.projects_description {
    font-size: 1.5rem;
    padding: 2vh 8vw;
    display: flex;
    flex-wrap: wrap;
    //font-weight:bold;
    //margin-top: 3vw;
    //padding: 10vw;
    color: white;
}

.description_heading1{
  color: black;
  font-size: 3rem;
  font-weight:bold;
  text-align: center;
  //margin: 0 1vw 1vw 15vw;
  padding-top:10vh;
  margin: 10vh;
}
#contact_section
{
  background: url(images/bg_images//contact.jpg)  fixed;
  background-size:cover;
  padding-top: 10px;
  border: 1px solid #2c2c2c;
  }
.contact_details_container .contact_description {
    font-size: 1.5rem;
    padding: 8vh 29vw 0vh;
    color: black;
    text-align: center;
}
.spl_text{
  cursor: pointer;
  text-decoration:none;
  color: black;
}
.spl_text1{
  cursor: pointer;
  text-decoration:none;
  color: white;
}
.more_details{
  text-align: center;
    margin-top: 2vh;

}
.icon-group {
  text-align: center;
  margin: 10vh;
}

.icon-group .icon {
    margin: 20px;
    width: 30px;
    text-align: center;
    cursor: pointer;
    color: white;
    padding-top: 10vh;
    font-size: 1.6rem;

}
/*#mediaqueries starts */

@media screen and  (min-width: 360px) and (max-width: 768px) {
    .navbar{
      height: 5vw;
      font-size: .8rem;
      display: flex;
      flex-wrap: wrap;

    }
    .intro_section{
      font-size: 1rem;
      padding: 14vw;
    }
    .sub-heading{
      font-size: .8rem;
      display: flex;
      }
      .aboutme_description{
        height: 10vw;
        font-size: .7rem;
        font-weight:500;
        line-height: 1.2;
        padding-bottom: 40vh;
      }
      .description_heading{
        font-size: 1.5rem;
        padding-top: 2vh;
      }
      .interests_description{
        padding: 2vh 8vw 4vh;
        justify-content: space-between;
      }
      .interests_description_item{
        display: flex;
        margin-left: 25vw;
        weight: 40%;
        width: 40%;
      }
      .experience_description{
      font-size:.8rem;
      padding: 10vh;

      }
      .projects_description{
        font-size: .8rem;
      }
      .description_heading1{
        font-size: 2rem;
        padding-top: 8vw;
      }
      .contact_details_container .contact_description{
        font-size: 1rem;
        line-height: 1.5;
        //padding-top: 8vw;
      }
      .icon{
        text-align: center;
      }
      .icon-group{
        width: 20%
        height:10%;
      }
}
